@use "../../../../variables" as *;

.recArea{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 50px auto;
}
// @media (max-width: 1065px){
//   .recArea{
//   display: block;
//   }
// }
.dayRecTea{
  background-color: $accent-color;
  padding: 10px;
  color: $on-accent-text;
  border-radius: $elem-border-radius;
  box-shadow: $main-shadow;
}
.seasonRecElem{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  .seasonRecCard{
    text-align: center;
    background-color: $accent-color;
    color: $on-accent-text;
    border-radius: $elem-border-radius;
    box-shadow: 0 0 10px $background-color-main;
    max-width: 100%;
    padding: 20px 0;
    box-shadow: $main-shadow;
  }
}