@use "../../variables" as *;
@use "sass:color";

.user-management {
  margin: 20px auto;
  padding: 15px;
  border: 3px solid $accent-color;
  border-radius: $elem-border-radius;
  box-sizing: border-box;
  box-shadow: $main-shadow;
  width: 100%;
  max-height: 600px;
}

.user-management h2 {
  font-size: $h3-font-size;
  color: $accent-color;
  margin: 10px 0;
}

.users-table {
  width: 100%;
  font-size: $p-font-size;
  overflow-x: auto;
}

.users-table-header,
.user-row {
  display: grid;
  grid-template-columns: repeat(5, minmax(120px, 200px));
  align-items: center;
  text-align: left;
  gap: 10px;
  width: 100%;

  box-sizing: border-box;
  min-width: max-content
}

.users-table-header {
  font-weight: bold;
  background-color: $accent-color;
  color: $on-accent-text;
  padding: 10px;
  margin: 10px 0;
}

.user-row {
  border-bottom: 1px solid $accent-color;
  padding-left: 5px;
  box-sizing: border-box;
  
  &:last-child {
    border-bottom: none;
  }
}

.user-blocked {
  background-color: #ffeeee;
}

.user-status {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
  font-size: $p-font-size;
}

.status-blocked {
  background-color: $boss-users;
  color: $on-accent-text;
}

.status-active {
  background-color: $users-color;
  color: $accent-color;
}

.user-role {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-size: $p-font-size;
}

.role-admin {
  background: $users-color;
  color: $text-color;
}

.role-expert {
  background: $users-color;
  color: $text-color;
}

.role-user {
  background: #e2e8f0;
  color: #4a5568;
}

.block-btn {
  margin: 5px 0;
  padding: 4px 10px;
  width: 120px;
  border: none;
  border-radius: $elem-border-radius;
  font-weight: bold;
  cursor: pointer;
  transition: $optimal-transition;
  
  &.block {
    background: $users-color;
    color: $accent-color;
    
    &:hover:not(:disabled) {
      background: $accent-color;
      color: $on-accent-text;
    }
  }
  
  &.unblock {
    background: $users-color;
    color: $text-color;
    
    &:hover:not(:disabled) {
      background: $accent-color;
      color: $on-accent-text;
    }
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.btn-clear-search {
    background-color: $accent-color;
    color: $on-accent-text;
    cursor: pointer;
    padding: 5px;
  }