@use "../../variables" as *;

h2{
  font-size: $h2-font-size;
}
.sitat-blok{
  font-size: $p-font-size;
  background-color: $accent-color;
  color: $on-accent-text;
  padding: 20px;
  border-radius: $elem-border-radius;
  box-shadow: $main-shadow;
  .quote-author{
    text-align: end;
  }
  p {
    margin: 0;
  }
}