@use "../../variables" as *;

h1 {
  font-size: 2rem;
  text-align: center;
}
form {
  label{
    @extend %form-label;
  }
  input {
    @extend %form-input;
  }
  button {
    @extend %form-button;
  }
}
.log-reg-link {
  width: 90%;
  margin: 10px auto;
  font-size: 1rem;
  max-width: 400px;
  text-align: center;
}