@use "../../variables" as *;

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 150px;
  color: $accent-color;
}

.auth-form {
  position: relative;
  width: 90%;
  max-width: 600px;
  border: 3px solid $accent-color;
  border-radius: 20px;
  padding: 20px;
  color: white;
  margin: 20px auto; 
  background-color: transparent;
  box-sizing: border-box; 
  &::before{
    content: '';
    position: absolute;
    bottom: -180px; 
    left: 63px; 
    width: 50px; 
    height: 50px; 
    background-image: url('./img/form/kap.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    pointer-events: none; 
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -85px; 
    left: -3px; 
    width: 200px; 
    height: 100px; 
    background-image: url('./img/form/letit.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    pointer-events: none; 
    
    &:hover {
      opacity: 1;
    }
  }
  
  label {
    @extend %form-label;
  }
  
  input {
    @extend %form-input;
    width: 100%; 
    box-sizing: border-box; 
  }
  
  button {
    @extend %form-button;
    width: 100%; 
    box-sizing: border-box;
    margin-top: 20px;
  }
  
  .log-reg-link {
    width: 100%; 
    margin: 10px auto;
    font-size: $p-font-size;
    text-align: center;
    
    a {
      text-decoration: underline;
      color: $on-accent-text;
    }
  }
}