@import "../../_variables.scss";


h1 {
  font-size: 2rem;
  text-align: center;
}
.reg-form{
  width: 90%;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  div{
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
  }
  label {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    padding: 10px 10px 0 10px;
  }
  input {
    display: block;
    width: 300px;
    height: 20px;
    margin: 0 10px 10px 10px;
    font-size: 1.4rem;
  }
  button {
    font-size: 1.4rem;
    background-color: white;
    border: none;
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
  }
  button:hover, button:focus {
    color: $accent-color;
    background: red;
  }
}
.log-reg-link {
  width: 90%;
  margin: 10px auto;
  font-size: 1rem;
  max-width: 400px;
  text-align: center;
}
