@use "../../variables" as *;


h1 {
  font-size: 2rem;
  text-align: center;
}
.reg-form{
  width: 90%;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: $accent-color;
  color: white;
  margin: 100px auto; 
  label {
    display: block;
    width: 100%;
    font-size: $p-font-size;
    padding: 10px 10px 0 10px;
  }
  input {
    display: block;
    width: 100%;
    height: 20px;
    margin: 0 10px 10px 10px;
    font-size: $p-font-size;
    background-color: transparent;
    border: none;
    border-bottom: 3px dotted white;
    outline: none;  
  }
  button {
    font-size: $p-font-size;
    background-color: transparent;
    border: none;
    color: $on-accent-text;
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
  }
  button:hover, button:focus {
    color: $accent-color;
    color: red; //Поменять на нужный
  }
  .log-reg-link {
    width: 90%;
    margin: 10px auto;
    font-size: $p-font-size;
    max-width: 400px;
    text-align: center;
    a{
      text-decoration:underline;
      color: $on-accent-text;
    }
  }
}

