@import "../../_variables.scss";

.desctop-navigation{
  display: flex;
  width: 90%;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  a {
        @extend %font-links;
        font-size: 1.6rem;
        color: $text-color;
      }
      a:hover, a:focus {
        color: $accent-color;
      }
  div {
    a {
        @extend %font-links;
        font-size: 1.6rem;
        padding: 12px 15px;
        color: $text-color;
      }
      a:hover, a:focus {
        color: $accent-color;
      }
  }
  
}