@use "../../variables" as *;

.desctop-navigation{
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background-color: $background-color-main;
  color: $text-color;
  .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0px auto;
    max-width: 90%;

  }
  a {
        @extend %font-links;
        font-size: $dectop-font-size;
        color: $on-accent-text;
        font-family: "Almendra";
      }
      a:hover, a:focus {
        color: $hover-text;
      }
  div {
    a {
        @extend %font-links;
        font-size: $dectop-font-size;
        padding: 12px 15px;
        color: $accent-color;
      }
      a:hover, a:focus {
        color: $text-color;
      }
    .desctop-logo{
      font-family: 'Almendra';
    }
  }
 
}
.menu-area{
  width: 100%;
  background-color: $background-color-main;
  color: $text-color;
  height: 60px;
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 90%;
    margin: 0 auto;
  }
}
.medium-logo{
  text-decoration: none;
  font-family: 'Almendra';
  color: $accent-color;
  font-size: $dectop-font-size;
}
.desctop-menu-btn{
  border: none;
  background-color: transparent;
  font-size: $dectop-font-size;
  color: $accent-color;
  cursor: pointer;
  transition: $optimal-transition;
}
.desctop-menu-btn:hover, .desctop-menu-btn:focus {
    color: $text-color;
}
.desktop-modal-menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $background-color-main;
  z-index: 99;
  .modal-links{
    margin-top: 100px
  }
  a {
    @extend %font-links;
    display: block;
    padding: 20px 40px;
    font-size: 1.6rem;
    color: $text-color;
    margin: 0 auto;
    text-align: center;
}
a:hover, a:focus {
    background-color: $accent-color;
    color: $on-accent-text;
}
  .modal-close{
    display: block;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: $optimal-transition;
    cursor: pointer;
  }
  .modal-close:hover, .modal-close:focus{
    transform: rotate(90deg);
  }
}
