.mobile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100vw;
    margin: 20px auto;
    h1 {
        text-align: center;
        font-size: 2.4rem;
        z-index: 99;
    }
}