@use "../../variables" as *;

.mobile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 20px 0;
    margin: 0px auto;
    // border-bottom: 3px solid $accent-color;
    background-color: $background-color-main;
    z-index: 999;
    span {
        color: $text-color;
        text-align: center;
        font-size: 2.4rem;
        z-index: 99;
        font-family: 'Almendra';
    }
}