@use "../../variables" as *;
@use "sass:color";

.profile-container{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}
.profile-info{
  border: 3px solid $accent-color;
  padding: 40px 20px;
  border-radius: $elem-border-radius;
  width: 100%;
  margin: 50px auto 20px auto;
  box-sizing: border-box;
  span {
    font-size: $p-font-size;
  }
}
.btn-logout {
  background-color: $accent-color;
  color: $on-accent-text;
  font-size: $p-font-size;
  padding: 5px 15px;
  cursor: pointer;
  transition: $optimal-transition;
  border-radius: $elem-border-radius;
  margin-top: 20px;
  &:hover, &:focus {
    color: $accent-color;
    background-color: $background-color-main;
  }
}
.profile-field{
  span {
    padding-left: 10px;
  }
}
.AddPost{
  background-color: $accent-color;
  color: $on-accent-text;
  font-size: $p-font-size;
  padding: 5px 15px;
  cursor: pointer;
  transition: $optimal-transition;
  border-radius: $elem-border-radius;
  &:hover, &:focus {
    color: $accent-color;
    background-color: $background-color-main;
  }
}