@use '../../variables' as *;


.editForm {
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
  border: 3px solid $accent-color;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: $elem-border-radius;
  font-size: $p-font-size;
  label {
    font-weight: bold;
    display: block;
  }
  input {
    border: none;
    border-radius: $elem-border-radius;
    background-color: $on-accent-text;
    padding: 5px 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
  }
  textarea {
    border: none;
    border-radius: $elem-border-radius;
    background-color: $on-accent-text;
    padding: 5px 10px;
    margin: 5px 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
  }
  button {
    position: relative;
    display: block;
    background-color: $accent-color;
    color: $on-accent-text;
    border-radius: $elem-border-radius;
    padding: 5px 10px;
    margin: 10px 5px;
    transition: $optimal-transition;
    margin: 0 auto;
    cursor: pointer;
    &:hover, &:focus{
      color: $accent-color;
      background-color: $background-color-main;
    }
  }
}
.CanselChangesBtn{
  position: relative;
  display: block;
  margin: 5px auto;
  padding: 5px 15px;
  text-decoration: none;
  font-size: $p-font-size;
  background-color: $accent-color;
  color: $on-accent-text;
  border-radius: $elem-border-radius;
  transition: $optimal-transition;
  border: 2px solid $accent-color;
  cursor: pointer;
  max-width: fit-content;
  &:hover, &:focus{
    color: $accent-color;
    background-color: $background-color-main;
  }
}