@use "../../variables" as *;

.mobile-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    padding: 10px 0;
    margin: 0 auto;
    max-width: 500px;
    background-color: $background-color-main;
    // border-top: 3px solid $accent-color;
    a {
        @extend %font-links;
        color: $text-color;
        padding: 12px 15px;
        font-size: 1.6rem;

    }
    a:hover, a:focus {
        color: $accent-color
    }
    button {
        @extend %font-links;
        font-size: 1.6rem;
        padding: 12px 15px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $accent-color;
    }
    button:hover, button:focus {
        color: $accent-color;
    }
}
.hide-menu {    
        position: fixed;
        padding-top: 100px;
        top: 0;
        width: 100vw;
        height: 100%;
        display: block;
        background-color: $background-color-main;
        z-index: 99;
        a {
            @extend %font-links;
            display: block;
            padding: 20px 40px;
            font-size: 1.6rem;
            color: $text-color;
            margin: 0 auto;
            text-align: center;
        }
        a:hover, a:focus {
            background-color: $accent-color;
            color: $on-accent-text;
        }
        .close-button{
            position: fixed;
            bottom: 20px;
            z-index: 3;
            @extend %font-links;
            font-size: 1.6rem;
            padding: 20px 40px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 100%;
            text-align: center;
        }
        .close-button:hover, .close-button:focus{
            background-color: $accent-color;
            color: $on-accent-text;
        }
    }