@use "../../variables" as *;

.main-text{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 30px;
  gap: 20px;
  h1{
    text-align: start;
    margin: 0;
    font-size: $h1-font-size;
    color: $accent-color;
  }
  h2 {
    font-size: $h2-font-size;
    margin-top: 10px;
    color: $accent-color;
  }
  p {
    font-size: $p-font-size;
  }
  a{
    transition: .2s;
    color: $text-color;
    font-size: 1.2rem;
  }
  .active_link{
    @extend %font-links;
    color: $on-accent-text;
    transition: $optimal-transition;
    background-color: $accent-color;
    border-radius: $elem-border-radius;
    padding: 5px 30px;
    box-shadow: $accent-color2;
  }
  .active_link:hover, .active_link:focus{
    background-color: $accent-color2;
  }
}
