@use "../../../../variables" as *;

.teaTypesGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  font-size: $p-font-size;
  gap: 1px;
}
.teaModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.teaTtypeBtn{
  border: 2px solid $accent-color;
  background-color: white;
  transition: .2s;
  cursor: pointer;
  min-height: 100px;
}
.teaName{
  margin: 10px;
  text-align: center;
}
.teaTtypeBtn:hover, .teaTtypeBtn:focus{
  background-color: antiquewhite;
}
.teaFlexblock{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.modalTitle{
  font-size: $h2-font-size;
  text-align: center;
}
.modalClose{
  border: none;
  background-color: white;
  font-size: 2rem;
  position: absolute;
  right: 30px;
  top: 30px;
}
.modalContent{
  font-size: $p-font-size;
}