@use "../../../../variables" as *;

.teaTypesGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  font-size: $p-font-size;
  gap: 10px;
}
.teaModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
}
.teaTtypeBtn{
  background-color: $accent-color;
  box-shadow: 0 0 10px $accent-color2;
  transition: .2s;
  cursor: pointer;
  min-height: 100px;
  color: white;
  border-radius: 10px;
}
.teaName{
  margin: 10px;
  text-align: center;
}
.teaTtypeBtn:hover, .teaTtypeBtn:focus{
  box-shadow: none;
}

.teaFlexblock{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.modalTitle{
  font-size: $h2-font-size;
  text-align: center;
}
.modalClose{
  border: none;
  background-color: white;
  font-size: 2rem;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.modalContent{
  font-size: $p-font-size;
}