@use '../../variables' as *;

.tea-craft-guide {
  margin: 50px 0;
  font-size: 1rem;
  .step-number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid $accent-color;
    background-color: $accent-color2;
    color: $on-accent-text;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px auto;
  }
  h2 {
    text-align: center;
    color: $accent-color;
  }
}
.steps-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 100%;
  .step {
    box-shadow: 0px 0px 10px $accent-color;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: $elem-border-radius;
  }
}
@media (max-width: 1450px) {
  .steps-container {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 700px) {
  .steps-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 450px) {
  .steps-container {
    grid-template-columns: 1fr;
  }
}

.icon-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  .step-text {
    margin: 0 20px;
  }
  img{
    max-width: 50px;
    max-height: 50px;
  }
}