@use "../../variables" as *;

.TeaMainBody{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px 0;
}
.TeaTitle{
  color: $accent-color;
}
.teaText{
  font-size: $p-font-size;
}
.map-area{
  width: 100%;
}
.accentP {
  background-color: $accent-color;
  box-shadow: $main-shadow;
  padding: 10px;
  border-radius: $elem-border-radius;
  color: $on-accent-text;
}
.MiddleTextOnPage{
  font-size: $p-font-size;
}