// Фоновые:
// 1. #CCFFD5 
// Акцентные коричневые:
// 1. #59391F 
// Акцентные зеленые:
// 1. #29492F 

// #E6F7E9 (нежно-салатовый фон)
// #8B5A2B (теплый терракотово-коричневый)
// #1A5D37 (насыщенный изумрудно-зеленый)

// #F0F7ED (очень светлый мятно-серый фон)
// #5D4037 (землисто-коричневый)
// #2E4A38 (хвойно-зеленый)

// #E8F5E9 (прохладный молочно-зелёный фон — нейтральный и спокойный)
// #5D4037 (землистый коричневый с серым подтоном — натуральный, матовый)
// #254336 (тёмно-зелёный с синим отливом — глубина без тяжести)

// #F0F9F1 (почти белый с едва уловимым мятным оттенком)
// #6B5849 (тёплый серо-коричневый, как сухая трава)
// #284538 (хвойный с прохладным подтоном)

// #E5F4EB (светло-зелёный фон с серым подтоном)
// #624A3D (коричневый с охристым отливом, как кора)
// #23423A (тёмный сине-зелёный, как глубокая тень

// #EDF8F3 (холодный молочно-бирюзовый фон)
// #5F4E44 (серо-коричневый, как мокрый песчаник)
// #264845 (тёмно-бирюзовый, почти чёрный с зеленью

// #E8F6F0 (нейтрально-зелёный, чуть теплее предыдущих)
// #654C3E (землисто-коричневый с серым подтоном)
// #244039 (глубокий зелёно-чёрный, как хвоя в сумерках)



// ! Пока что который больше всего понравился! 
// #EEF2EB - фон
// #594636 - коричневый
// #45594A - зеленый 

// ! Изначальные цвета:
// $text-color: #1B211F;
// $accent-color: #839958; 
// $accent-color2: #1B211F; 
// Цвет для основного текста #53574E или #1B211F 
// Цвет для основного текста #2A3732 или #42544C

// ! Изначальные размены шрифта
// $h1-font-size: 2rem;
// $h2-font-size: 1.4rem;
// $p-font-size: 1.2rem;
// $dectop-font-size: 1.6rem;


$background-color-main: #EEF2EB;
$accent-color: #45594A;
$accent-color2: #594636;
$text-color: #2A3732;
$on-accent-text: white;
$hover-text: $accent-color2;

$h1-font-size: clamp(1.8rem, 2.5vw, 3.5rem);
$h2-font-size: clamp(1.5rem, 2vw, 3rem);
$p-font-size: clamp(0.9rem, 1vw, 1.2rem);
$dectop-font-size: 1.6rem;

$optimal-transition: .2s;
$elem-border-radius: 20px;
$main-shadow: 0 0 10px $accent-color;


// Шаблон стилей для ссылок
%font-links{
    text-decoration: none;
    font-family: "AlumniSans";
    transition: .2s;
}
// Шаблон стилей для формы 
%form-label {
    display: block;
    width: 100%;
    font-size: $p-font-size;
    padding: 10px 10px 0 10px;
  }
%form-input {
    display: block;
    width: 100%;
    height: 20px;
    margin: 0 10px 10px 10px;
    font-size: $p-font-size;
    background-color: transparent;
    border: none;
    border-bottom: 3px dotted white;
    outline: none;  
  }
%form-button {
    font-size: $p-font-size;
    background-color: transparent;
    border: none;
    color: $on-accent-text;
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
  }



