$text-color: black;
$accent-color: green;

// Шаблон стилей для ссылок
%font-links{
    text-decoration: none;
    font-family: Georgia;
    transition: .2s;
}
// Шаблон стилей для формы 
%form-label {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    padding: 10px 10px 0 10px;
  }
%form-input {
    display: block;
    width: 300px;
    height: 20px;
    margin: 0 10px 10px 10px;
    font-size: 1.4rem;
  }
%form-button {
    font-size: 1.4rem;
    background-color: white;
    border: none;
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
  }

.body-area {
    width: 90%;
    margin: 0 auto;
}