@font-face {
  font-family: 'Almendra';
  src: url('/fonts/AlmendraSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AlumniSans';
  src: url('/fonts/Alumni_Sans/static/AlumniSans-Regular.ttf') format('truetype');
} 


body {
  background-color: #EEF2EB;
  font-size: 62.5%;
  font-family: 'AlumniSans';
  color: #2A3732;
  max-width: 2000px;
  margin: 0 auto;
}  
.body-area {
    width: 90%;
    margin: 0 auto 150px auto;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1; 
  padding: 0;
}